<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Message</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Edit Message Page </h1>
        <h1>{{user.first_name}} {{user.last_name}} Account Page </h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/messages/{{message.id}}/update" method="POST">
            {% csrf_token %}
            <p>Content: <input type="text" name="content" value="{{message.content}}"><p>
            <button type="submit">Update Message</button>
        </form>

        <a href="/wall"><button>Go back to The Wall</button></a>
        <a href="/logout"><button>Logout</button</a>
    </body>
</html>